<div class="album text-muted">
  <div class="container">
    <%= link_to "New item", new_portfolio_path %>
    <div class="row">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
