<div class="inner cover">
  <h1 class="cover-heading">Web Developer</h1>
  <p class="lead">I am a Housing Support worker turned developer who cares about having a positive impact on the end-user’s life, and enjoys working with others to find creative solutions to challenges faced. I am loyal, seriously hard working, set high standards for whatever job I do, am able to work well with others; and most importantly I love bringing laughter to the people I work with. I am looking for a role where I can continue to develop my skills, to be part of building things that change people's lives, and want to work for a company that cares for it's staff's wellbeing.</p>
  <p class="lead">
    <%= link_to "Home", root_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
