<div class="inner cover">
  <h1 class="cover-heading">Contact Me</h1>
  <p class="lead"><a href="https://github.com/KPobeeNorris">My Github profile</a></p>
  <p class="lead">
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.978470853375!2d-0.000724384522941801!3d51.47690947963014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602849e18e569%3A0xe0b4893b3675cd0!2sGreenwich+Park!5e0!3m2!1sen!2suk!4v1497423887725" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <%= link_to "Home", root_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
