<div class="inner cover">
  <h1 class="cover-heading">Contact Me</h1>
  <p class="lead"><a href="https://github.com/KPobeeNorris">My Github profile</a></p>
  <p class="lead">
    <%= link_to "Home", root_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
