<h1>Pages#contact</h1>
<p><%= number_to_phone "12345678912" %></p>

<p><%= number_to_currency "12342" %></p>

<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "12345678912" %></p>
