
<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Welcome weary web traveller.  Take a moment to kick off your shoes, grab a seat and feel free to browse the goodies.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
